{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    <div class="followings half">
        <h2>팔로잉 목록</h2>
        {% if user.Followings %}
            {% for following in user.Followings %}
            <div class="twit">
                <input type="hidden" value="{{following.id}}" class="twit-user-id">
                <div class="twit-author">{{following.nick}}</div>
                <button class="twit-follow">삭제</button>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="followers half">
        <h2>팔로워 목록</h2>
        {% if user.Followers %}
        {% for follower in user.Followers %}
        <div class="twit">
            <input type="hidden" value="{{follower.id}}" class="twit-user-id">
            <div class="twit-author">{{follower.nick}}</div>
            <button class="twit-follow">삭제</button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
        tag.addEventListener('click', function() {
            const myId = document.querySelector('#my-id');
            if (myId) {
                const userId = tag.parentNode.querySelector('.twit-user-id').value;
                if (userId !== myId.value) {
                    if (confirm('삭제하시겠습니까?')) {
                        axios.delete(`/user/${userId}/delFollow`)
                            .then(() => {
                                location.reload();
                            })
                            .catch((err) => {
                                console.error(err);
                            });
                    }
                }
            }
        });
    });
</script>
{% endblock %}